
    @font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('DigitalNumbers-Regular.woff') format('woff');
    }





.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
  flex-direction: column;
}


.display{
  
  width:440px;
  display: flex;
  align-items:center;

}

.secondary-display{
  display: flex;
  justify-content: space-between;
  margin-top:25px;
  padding-top:5px;
  border-top:1px solid black;
}

.digits{
 background-color: #ACB1B5;
  border-radius:15px;
   padding: 0px 60px;
  padding-top:20px;
  padding-bottom:10px;
  
  
  font-family: 'Digital Numbers Regular';

     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#time-left{
 font-size: 50px;
}

.buttons-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding:0 20px;
}

.btn-ring{
  border-radius:50%;
  padding:15px;
  background-color: red;
  margin:5px;
  box-shadow: 0 0 1px #000000;
}

.button{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:gray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #000000;
  
  
}

#start_stop{

}

#reset{
box-shadow: 0 0 2px #000;
}

.icon{
  width:20px;
}

 .pause-icon{
   width:15px;
 }


.timer-body{
  background-color: #E5E4E9;
  padding: 20px;
  border-radius:15px;
}


.secondary-buttons{
  width:300px;
  display:flex;
  justify-content: space-between;
  padding-left: 13px;
}

#timer-label{
  padding-bottom:10px;
}


.input-btn-con{
  display:flex;
}

.input-btn{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items:center;
  margin:0px 10px;
  box-shadow: 0 0 1px #000000;
}